<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Dashboard{% endblock title %}</title>
    {% block styles %}
    {% include "_styles.html" %}
    {% endblock styles %}
    {% block scripts %}
    {% include "_scripts.html" %}
    {% endblock scripts %}

    <script type="text/javascript" src="https://public.tableau.com/javascripts/api/tableau-2.min.js"></script>
    <script type="text/javascript">
        function initViz() {
            var containerDiv = document.getElementById("vizContainer"),
                url = "https://public.tableau.com/views/MyFirstWorkbook_16621045265540/Sheet1?:language=zh-TW&:display_count=n&:origin=viz_share_link",
                options = {
                    hideTabs: true,
                    onFirstInteractive: function () {
                        console.log("Run this code when the viz has finished loading.");
                    }
                };

            var viz = new tableau.Viz(containerDiv, url, options);
            // Create a viz object and embed it in the container div.
        }
    </script>
    {% endblock head %}
</head>

<body onload="initViz();">
    {% block body %}
    {% include "_navbar.html" %}
    {% block page_content %}
    {% include "_page_header.html" %}
    <div id="vizContainer" style="width:800px; height:700px;"></div>
    {% endblock page_content %}
    </div>
    {% endblock body %}
</body>

</html>